:root{
    // main colors 
    --app-light : #fff;
    --app-dark : #444448;
    --app-blue : rgb(39, 138, 231);
    --app-danger : rgb(226, 30, 30);
    --app-yellow : rgb(236, 233, 15);
    --app-gray : #989899;
    // main colors 

    // dark mode colors

    // dark mode colors
}