@import './variables/themeColors.scss';
@import './variables/size.scss';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.application_pointer{
    cursor: pointer;
}
.application_link{
    text-decoration: none;
}
.application_animation{
    animation: 1s application_animation ;
}
@keyframes application_animation {
    0%{opacity: 0;}
    100%{opacity: 1;}
}